/* ========== */

/* ========== */
*, *:before, *:after {
  box-sizing: inherit
}

html, body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family:  Georgia, 'Times New Roman', Times, serif;
  height: 100%;
}
/* ========== */
/* layout */
/* ========== */
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 110em;
  width: 95%;
  
}

/* ========== */
/* module */
/* ========== */
/* loeader */
.loader {
  width: 100%;
  height: 100%;
  display: flex; 
}

.loader-message {
  margin: auto;
}

.page {
  opacity: 0;
  height: 0px;
  transition: all 1s ease-in-out;
}

.hide {
  display: none;
}

.show {
  height: auto;
  opacity: 1;
}

/* nav */
nav header h1 {
  font-size: 2em;
}

/* nodepad */
.notepad {
  margin-top: 1em;
  border: 1px solid #888;
  background: #2b2b2b;
  padding: 5px;
  font-size: 30px;
  line-height: 1.5em;
  color: white;
  word-wrap: break-word;
}

.btn-parse {
  margin-top: 2em;
  padding: .5em 1em;
  background-color: #C02942;
  text-decoration: none;
  border: none;
  color: white;
  font-size: 1.2em;
  transition: .3s all ease-in;
}

.btn-parse:hover {
  background-color: rgb(226, 23, 57);
}
.ipa {
  margin-left: 5px;
}

.ipa:hover {
  outline: 1px dashed #6e6e6e;
}
.ipa-done {
  color: #6bcd51;
}
.ipa-error {
  color: #cd6a51;
}
.ipa-wait{
  color: #cbcd51;
}
.ipa-nfound {
  color: #a1a191;
}
.audio {
  visibility: hidden;
}

/* iframes dictionaries */
.dict-iframe{
  width: 75%;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px;
  background-color: #2b2b2b;
  display: block;
}

/* btns scroll top */
#btnScrollTop {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 30px;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #C02942;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}